:root{
    --main-color: #2E4272;
    --text-color: #A2BDE7;
    --text-color2: #F2F4F7;
    --link-color: #061539;
    --button-color: #4F628E;
    --hover-color: #162955;
    --hover-color2: #6a994e;
}

@media (max-width: 429px) {
    h1, h2, li, footer, p, #total-credits, .course-card{
        font-family: 'Roboto', sans-serif;
    }
    
    header{
        display: flex;
        width: 100%;
        height: auto;
        background-color: var(--main-color);
        border-radius: 10px 10px 0 0 ;
    }

    header .jrimage{
        width: 50%;
        height: auto;
        border-radius: 20px;
        margin: 10px;
    }

    header h1{        
        font-size: 2.5em;
        color: var(--text-color2);        
    }

    /**********Menu hamburguer*******************/

    button{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        gap: .65rem;
        transform-origin: left;
        border: 0;
        
    }

    button > div{
        background-color: var(--text-color2);
        height: 2px;
        width: 90%;
        border-radius: 4px;
        transition: all .5s;
        transform-origin: left;
        
    }

    button:hover div:first-child{        
        transform: rotate(45deg);
    }

    button:hover div:nth-child(2){
        opacity: 0;
    }

    button:hover div:last-child{        
        transform: rotate(-45deg);
    }

    .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: var(--main-color);
        width: 30%;
        
    }

    .menu li{
        list-style: none;  
        padding: 5px;      
    }

    .menu li a{
        color: var(--text-color2);
        font-size: 1.25rem;
    }

    .menu-toggle .toggle{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .menu.show{
        display: flex;
    }

     /**************Course section***************/
     .course h2{
        background-color: var(--main-color);
        color: var(--text-color2);        
        text-align: center;
        border-radius: 10px 10px 0 0;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /*****************Show menu******************/  
    main h1{
        color: var(--link-color);
        text-align:center;
    }

    .showMenu{
        margin: 1rem auto;
        border: 1px solid var(--text-color);
        padding: 0.5rem;
        background-color: var(--main-color);
        text-align: center;
    }
    
    .showMenu button{
        padding: 1rem;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
    }

    section{
        border: 1px solid var(--text-color);
        padding: 0.5rem;
        background-color: var(--text-color2);
        color: var(--link-color);
        font-family: "Roboto", sans-serif;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        
    }

    .grid section{
        background-color: var(--text-color2);
        border: 1px solid var(--text-color);
        border-radius: 10px;
        box-shadow: 0 0 10px var(--hover-color2);
        padding: 1rem;
        text-align: center;
    }

    .grid img{
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px #333;
    }

    .grid section > *{
        margin: 0.1rem;
    } /*This align all boxes into the grid*/

    .grid section img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px #333;
    }
    

    .grid section h3 {
        font-size: 1.2rem;
    }

    .grid section p {
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }

    .grid section a {
        color: var(--link-color);
        text-decoration: none;
        font-size: 0.8rem;
    } 
    figure .list{
        margin: 0;
    }
    .list{
        display: flex;
        flex-direction: column;
        grid-gap: 0
    }

    .list section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }

    .list section > *{
        margin: 0 1rem;
    }

    .list section img{
        display: none;
    }

    .list section h3{
        font-size: 1rem;        
    }

    .list section:nth-child(even){
        background-color: var(--text-color);
    }

    section h3{
        font-size: 1.5rem;
    }

    section p{
        font-weight: 600;
        font-size: 12px;
    }

    section a{
        font-size: 0.85rem;
        color: var(--link-color);
        letter-spacing: 1.1pt;
    }

    section a:hover{
        color: var(--hover-color2);
    }

       /********************Homepage*******************
    .advertisement {
    grid-template-columns: 1fr;
    }

    /**************Country section***************/
    .country h2{
    background-color: var(--main-color);
    color: var(--text-color2);        
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }

    .large-pic{
        display: none;
    }

    .country img{
        width: 60%; 
        margin-left: 50px;       
        margin-right: 50px;
    }

    .country {
        text-align: center;
    }

    .country p{
        margin-top: 5px;
        margin-bottom: 30px;
        color: var(--text-color);
    }

    /**************Certificates section***************/

    .certificates{
        text-align: center;
    }    

    .certificates h2 {
        background-color: var(--main-color);
        color: var(--text-color2);        
        text-align: center;
        border-radius: 10px 10px 0 0;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .certificates button{        
        padding: 10px;
        margin: 10px;
        width: 80px;
        background-color: var(--button-color);
        border-radius: 6px;
        color: var(--text-color2);
        display: inline-block;
    }

    hr{
        color: var(--text-color);
    }

    .container{        
        margin-right: 30px;
        display: flex;
        flex-direction: column;        
        padding: 0;
    }

    .container li{        
        list-style-type: none;
        background-color: var(--button-color);
        width: 100%;
        margin: 10px;
        padding: 5px;
        font-size: 1em;
        text-align: center;
        border-radius: 5px;
        color: var(--text-color2);
        line-height: 25px;
    }

    .course-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        text-align: justify;
    }

    .course-card.completed {        
        background-color: var(--hover-color);
        border-color: var(--text-color);
        color:var(--text-color2)
    }

    .filter-button {
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        text-align: inherit;
    }
     /******************Footer************************/
     footer{
        background-color: var(--main-color);
        color: var(--text-color2);        
        text-align: center;
        border-radius: 0 0 10px 10px;
        padding: 5px;
        width: 100%;
        height: auto;
        background-color: var(--main-color);
    }

    #flag{
        display: flex;
        text-align: center; 
        margin-left: 25%;       
    }

    img{        
        width: 30%;
        height: auto;
        margin: 5px;
                
    }

    .lastModified {        
        color: yellow;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}