@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color: #2E4272;
    --text-color: #7887AB;
    --text-color2: #F2F4F7;
    --link-color: #061539;
    --button-color: #4F628E;
    --hover-color: #162955;
}

*{
    box-sizing: border-box;
    max-width: 100%;
}

@media (min-width: 430px){
    h1, h2, li, footer, p, #total-credits, .course-card{
        font-family: 'Roboto', sans-serif;
    }
    
    header{
        background-color: var(--main-color);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: space-between;
        border-radius: 10px;
             
    }
    
    header img{
        width: 40%;
        height: auto;
        border-radius: 20px;
        margin: 10px;
        align-items: end;
    }
    
    header h1{ 
        margin-top: 10%;
        margin-left: 20px;
        grid-column: 2 / -1;   
        color: var(--text-color2);
        font-size: 2.5em;
        width: 100%;    
    }
    
    header img{
        grid-column: 1 / 2;
        align-content: space-between;
        justify-self: end;
    }
    
    header nav{   
        grid-column: 1 / -1 ;
        grid-row: 2; 
        width: 100%;
        background-color: var(--link-color);    
    }
    
    nav ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        font-size: 1.5em;    
    }
    
    nav li {
        list-style-type: none;    
    }
    
    nav li a{
        text-decoration: none;
        color: var(--text-color2);
    }
    
    nav li a:hover{
        color: var(--text-color);
    }
    
    #menu-toggle{
        display: none;
    }

    #x-close{
        display: none;
    }

    .menu {
        display: block;
    }

    input{
        display: none;
    }
    
    /***********Main section***********************/
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .course{
        grid-column: 1 / 3;
        border: var(--main-color) solid thin;
        margin-top: 20px;
        border-radius: 10px 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .course h2{    
        background-color: var(--main-color);
        color: var(--text-color2);        
        text-align: center;
        border-radius: 10px 10px 0 0;
        padding: 10px;
        margin-top: 0;    
    }
    
    .country{
        grid-column: 3 / -1;
        text-align: center;
        border: var(--main-color) solid thin;
        margin-top: 20px;
        border-radius: 10px 10px;
        margin-left: 10px;
        margin-right: 10px;    
    }
    
    .country h2{   
        margin-top: 0; 
        background-color: var(--main-color);
        color: var(--text-color2);        
        text-align: center;
        border-radius: 10px 10px 0 0;
        padding: 10px;    
    }

    .small-pic{
        display: none;
    }
    
    .country img{
        width: 50%;
    }
    
    hr{
        color: var(--text-color);
    }
    
    .certificates button {
        padding-left: 5%;
        padding-right: 5%;  
        margin: 10px;
        font-size: 1em;  
    }
    
    .certificates{
        grid-column: 1 / -1;
        grid-row: 2;
        text-align: center;
        border: var(--main-color) solid thin;
        margin-top: 20px;
        border-radius: 10px 10px;
        margin-left: 10px;
        margin-right: 10px;    
    }
    
    
    .certificates h2{
        background-color: var(--main-color);
        color: var(--text-color2);        
        text-align: center;
        border-radius: 10px 10px 0 0;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 10px;
        
    }
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        width: 100%;
        margin: 0;
        gap: 5px;
        
    }
    
    .container li{        
        list-style-type: none;
        background-color: var(--button-color);    
        padding: 10px;
        font-size: 1em;
        text-align: center;
        border-radius: 5px;
        color: var(--text-color2);
        line-height: 25px;
        margin-bottom: 10px; 
        margin-left: 10px;
        margin-right: 10px;       
    }
    
    .course-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        text-align: justify;
    }
    .course-card.completed {
        
        background-color: var(--hover-color);
        border-color: var(--text-color);
        color:var(--text-color2);
    }
    .filter-button {
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        text-align: justify;
    }
    
    /***************Footer**************************/
    
    footer{ 
        display: grid;
        grid-template-columns: 1fr 1fr;               
        background-color: var(--main-color);
        color: var(--text-color2);        
        text-align: center;
        border-radius: 10px 10px 0 0;
        padding: 5px;
        width: 100%;
        height: auto;
        background-color: var(--main-color);
        margin-top: 10px;
        
    }  
    
    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1 / -1;
    }
    
    #flag {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #flag img {
        width: 50px;
        height: auto;
    }

    .lastModified {
        grid-column: 1 / -1;
        color: yellow;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}