:root{
    --primary-color: #ff5f57d8;
    --secondary-color: #333;
    --background: #f4f4f4;
    --text-color: #333;
    --accent: #fff ;
}

*{
    box-sizing: border-box;
    max-width: 100%;    
}

body{
    background-color: var(--background);
}

p, .lastModified, li{
    font-family: 'Roboto', sans-serif;
}

h1, h2, a, .footer-content, button{
    font-family: 'Lobster Two', sans;
}

header{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    border-radius: 10px 10px 0 0;
}

.top-page img{
    width: 50%;
    border-radius: 10px;
    margin: 10px;
}

.top-page{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 8px;
    justify-items: center;    
}

.top-page img{
    grid-column: 1 / span 1;
}

.top-page h1{
    grid-column: 2 / span 3;
}

nav{
    display: flex;    
    align-items: flex-end;      
    margin-left: auto;
}

nav li a{
    text-decoration: none;
    color: black; 
}

nav li{
    font-size: 2rem;
    list-style: none;
    display: inline;
    padding: 10px; 
       
}

nav li a:hover{
    color: var(--accent);
}

.menu-toggle button{
    display: none;
}

/*************Intro***********************/
.intro{
    font-size: 1.5rem;
    text-align: center;
}

.intro p{
    font-weight: 100;
}

.intro > button{
    margin: 0;

}

/****************Main***********************/

.home, .login, .todolist, .profile, .register{  
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    border: 1px solid var(--secondary-color);    
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    height: 500px;
    padding: 20px;    
}
/*****************button*********************/
.home button, .login button, .profile button, .register button{    
    font-size: 2rem;    
    width: 250px;
}

.btn-grow-box{
    background: var(--background);
    color: #4741d7;
    border: 2px solid var(--text-color);
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.btn-grow-box:hover{
    color: var(--accent);
}

.btn-grow-box::after{
    content: '';
    background: var(--primary-color);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
}

.btn-grow-box:hover::after{
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
}

/**************todolist*********************/
.todolist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 10px;
    height: auto;
}

.add-task, .pending-tasks, .task-list, .deleted-tasks{
    padding: 3px;
    height: 100%;
    border-radius: 10px;    
}

.todolist li {
    list-style: none;   
}

.todolist button{
    font-size: 1.1rem;
    margin: 2px;
    
}

.todolist .add-task{
    background-color: #4641d7bb;    
}

.todolist .task-list{
    background-color: #a3ff57c4;    
}

.todolist .pending-tasks{
    background-color: #ff5f57b0;    
}

.todolist .deleted-tasks{
    background-color: #5762ffc2;    
}

.add-task input, .pending-tasks ul, .task-list ul, .deleted-tasks ul{
    text-align: start;
    padding: 5px;
}

/******************user Info**********/
.user-info{
    font-size: 1.5rem;
}

/*******************login info*********/
.login{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 10px;
    height: auto;
}
.login-form{
    font-size: 1.5rem; 
    text-align: center;           
}

.login-form label, input{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    
    
}

.login-form input{
    font-size: 1.2rem;
    background-color: var(--primary-color);
}

/*******************Register*************/
.register{
    height: auto;
}

.register-form{
    font-size: 1.5rem;                
}

#registerForm {
    text-align: end;
}

#registerFrom button{
    margin: 100px;
}



/**********Footer*****************/
footer{               
    background-color: var(--primary-color);
    color: var(--text-color2);        
    text-align: center;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    width: 100%;
    height: auto;    
    margin-top: 10px;
    
}  

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 100px), 1fr));   
    justify-content: center; 
    gap: 1px;   
}

.footer-content .author{
    grid-column: 1 / -1;
}

.footer-content #flag{
    grid-row: 2;
    grid-column: 1 / -1;
    
}

#flag img {
    width: 50px;
    height: auto;
    border-radius: 50px 50px 10px 10px;
}

.footer-content #flag h4{
    margin: 3px;
}

.lastModified {
    grid-column: 1 / -1;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}



@media (max-width: 450px){
/**********Menu hamburguer*******************/
    .menu-toggle button{
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background-color: transparent;  
        gap: .65rem;      
        cursor: pointer;
    }
    
    .menu-toggle button > div{
        background-color: #333;
        height: 2px;
        width: 90%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
    }

    #toggleButton:hover div:first-child{
        transform: rotate(45deg);
    }

    #toggleButton:hover div:nth-child(2){
        opacity: 0;
    }

    #toggleButton:hover div:last-child{
        transform: rotate(-45deg);
    }
    
    .menu-bar{
        display: none;
        flex-direction: column;
        border-radius: 3px;
        top: 150px;
        right: 8px;
        position: absolute;
        background-color: var(--secondary-color);
        width: 30%;  
        justify-content:right; 
        padding: 0;     
    }

    .menu-bar li{
        font-size: 1.8rem;
        
    }

    .menu-bar li a{
        color: var(--accent);        
    }

    .menu-bar li a:hover{
       color: var(--primary-color);
    }

    #menu-bar.show{
        display: flex;        
    }

    .menu-bar.show a{
        font-size: 1.5rem;
    }

    /**************Main ******************/
    .home, .todolist, .login, .register, .profile{
        width: 100%;
        margin: 0;
        padding: 5px;
        margin-top: 10px;
    }

    #registerForm {
        text-align: end;
        margin-right: 10%;        
    }   

}